<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmedbass.mypetfriend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/AppTheme.SlideEnd">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Registration"
            android:parentActivityName=".LauncherActivity"
            android:theme="@style/AppTheme.SlideEnd"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".PetCareProviderRegisterationActivity"
            android:label="Tell Us About Yourself"
            android:parentActivityName=".RegistrationActivity"
            android:theme="@style/AppTheme.SlideEnd"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:parentActivityName=".LauncherActivity"
            android:theme="@style/AppTheme.SlideEnd"
            android:launchMode="singleTop" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Your Password"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.SlideEnd"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoSlide"
            android:launchMode="singleTop" />
        <activity
            android:name=".MyPetsActivity"
            android:label="My Pets"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.SlideEnd"
            android:launchMode="singleTop" />
        <activity
            android:name=".PetProfileActivity"
            android:label="My Pet"
            android:parentActivityName=".MyPetsActivity"
            android:theme="@style/AppTheme.NoActionbar_SlideBottom"
            android:launchMode="singleTop"/>
        <activity
            android:name=".PetPlacesActivity"
            android:label="Pet Places"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".PetCareServiceActivity"
            android:label="Pet Care Services"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".PetCareProviderProfileActivity"
            android:parentActivityName=".PetCareServiceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".PetShopActivity"
            android:label="Pet Shop"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".AdvertActivity"
            android:label="Advert"
            android:parentActivityName=".PetShopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddEditPetActivity"
            android:label="Add New Pet"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".MyPetsActivity"
            android:theme="@style/AppTheme.SlideTop"
            android:launchMode="singleTop" />
    </application>

</manifest>