<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmedbass.mypetfriend">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/AppTheme.SlideEnd">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="Registration"
            android:launchMode="singleTop"
            android:parentActivityName=".LauncherActivity"
            android:theme="@style/AppTheme.SlideEnd"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PetCareProviderRegistrationActivity"
            android:label="Tell Us About Yourself"
            android:launchMode="singleTop"
            android:parentActivityName=".RegistrationActivity"
            android:theme="@style/AppTheme.SlideEnd"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:launchMode="singleTop"
            android:parentActivityName=".LauncherActivity"
            android:theme="@style/AppTheme.SlideEnd" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Your Password"
            android:launchMode="singleTop"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.SlideEnd" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoSlide" />
        <activity
            android:name=".MyPetsActivity"
            android:label="My Pets"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.SlideEnd" />
        <activity
            android:name=".PetProfileActivity"
            android:label="My Pet"
            android:launchMode="singleTop"
            android:parentActivityName=".MyPetsActivity"
            android:theme="@style/AppTheme.NoActionbar_SlideBottom" />
        <activity
            android:name=".PetPlacesMapActivity"
            android:label="Pet Places"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetCareServiceActivity"
            android:label="Pet Care Services"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetCareProviderProfileActivity"
            android:label="Pet Care Provider"
            android:launchMode="singleTop"
            android:parentActivityName=".PetCareServiceActivity" />
        <activity
            android:name=".PetMarketActivity"
            android:label="Pet Market"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdvertActivity"
            android:label="Advert"
            android:launchMode="singleTop"
            android:parentActivityName=".PetMarketActivity" />
        <activity
            android:name=".AddEditPetActivity"
            android:label="Add New Pet"
            android:launchMode="singleTop"
            android:parentActivityName=".MyPetsActivity"
            android:theme="@style/AppTheme.SlideTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAccountActivity"
            android:label="My Account"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditUserProfileActivity"
            android:label="My Profile"
            android:parentActivityName=".MyAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlideEnd"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyAdvertsActivity"
            android:label="My Adverts"
            android:parentActivityName=".MyAccountActivity"
            android:theme="@style/AppTheme.SlideEnd" />
        <activity
            android:name=".AddEditAdvertActivity"
            android:label="Create New Advert"
            android:parentActivityName=".MyAdvertsActivity"
            android:theme="@style/AppTheme.SlideTop"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>