<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmedbass.mypetfriend">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MyPetsActivity"
            android:label="My Pets"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".PetProfileActivity"
            android:label="My Pet"
            android:parentActivityName=".MyPetsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".PetPlacesActivity"
            android:label="Pet Places"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".PetShopActivity"
            android:label="Pet Shop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".PetCareServiceActivity"
            android:label="Pet Care Services"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AdvertActivity"
            android:label="Advert"
            android:parentActivityName=".PetShopActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".RegistrationActivity"
            android:label="Registration"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".WelcomeActivity"/>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName=".WelcomeActivity"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot your password"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetCareProviderRegisterationActivity"
            android:label="Tell us about yourself"
            android:parentActivityName=".RegistrationActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PetCareProviderProfileActivity"
            android:parentActivityName=".PetCareServiceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>